<div id="toast-bottom-right"
     class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow right-5 bottom-5 dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
     role="alert">
    {{- /*gotype: github.com/ugabiga/falcon/internal/handler/model.Toast*/ -}}
    <div class="text-sm font-normal">{{.Message}}</div>
    <button id="dismiss-button" type="button" data-dismiss-target="#toast-bottom-right"
            aria-label="Close">
    </button>
</div>

<script>
    function dismissToast() {
        setTimeout(function () {
            document.getElementById("dismiss-button").click();
        }, 1000);
    }
    setTimeout(function () {
        dismissToast()
    }, 1000);
</script>
