{{- /*gotype: github.com/ugabiga/falcon/internal/handler.TradingAccountLoad*/ -}}
{{ range .TradingAccounts }}
<tr>
    <th>
        {{.Exchange}}
    </th>
    <td>
        {{.Currency}}
    </td>
    <td>
        {{.Identifier}}
    </td>
    <td>
        {{.IP}}
    </td>
    <td>
        <button class="btn btn-link" onclick="edit_modal.showModal()">Edit</button>
        <dialog id="edit_modal" class="modal">
            <div class="modal-box">
                <h3 class="font-bold text-lg">Hello!</h3>
                <p class="py-4">Press ESC key or click the button below to close</p>
                <div class="modal-action">
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn">Close</button>
                    </form>
                </div>
            </div>
        </dialog>
    </td>
</tr>
{{end}}