{{- /*gotype: github.com/ugabiga/falcon/internal/handler.TradingAccountLoad*/ -}}
{{ range .TradingAccounts }}
<tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
    <th scope="row"
        class="flex items-center px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{.Exchange}}
    </th>
    <td class="px-4 py-2">
        {{.Currency}}
    </td>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{.Identifier}}
    </td>
    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{.IP}}
    </td>
</tr>
{{end}}